--- # vehicles
- id: 160322156
  name: Škoda Octavia A5
  year: 2008
  seats: 5
  body-style: kombi
  transmission: manuální
  air-conditioner: false
  slug: /skoda-octavia-2015
  photo: ../../images/vehicles/ford-focus-hatchback-2011/ford-focus-hatchback-2011.jpg
- id: 2603221547
  name: Škoda 2
  year: 2008
  seats: 5
  body-style: kombi
  transmission: manuální
  air-conditioner: false
  slug: /skoda-octavia-2015
  photo: ../../images/vehicles/ford-focus-hatchback-2011/ford-focus-hatchback-2011.jpg
- id: 3603221549
  name: Škoda 3
  year: 2008
  seats: 5
  body-style: kombi
  transmission: manuální
  air-conditioner: false
  slug: /skoda-octavia-2015
  photo: ../../images/vehicles/ford-focus-hatchback-2011/ford-focus-hatchback-2011.jpg
- id: 4603221548
  name: Škoda 4
  year: 2008
  seats: 5
  body-style: kombi
  transmission: manuální
  air-conditioner: false
  slug: /skoda-octavia-2015
  photo: ../../images/vehicles/ford-focus-hatchback-2011/ford-focus-hatchback-2011.jpg
- id: 6703221547
  name: Voklswagen Transporter T5 2009
  year: 2008
  seats: 5
  body-style: kombi
  transmission: manuální
  air-conditioner: false
  slug: /voklswagen-transporter-t5-2009
  relPath: Voklswagen Transporter T5 2009/Voklswagen Transporter T5 2009.jpg
- id: 7803221547
  name: Citroen Picasso C4 Picasso 2011
  year: 2011
  seats: 5
  body-style: kombi
  transmission: manuální
  air-conditioner: false
  slug: /Citroen Picasso C4 Picasso 2011
  relPath: Citroen Picasso C4 Picasso 2011/Citroen Picasso C4 Picasso 2011.jpg



  